<nav class="nav">
  <a class="<%= current === 'read' ? 'current' : '' %>" href="/home">read</a>
  <a class="<%= current === 'reading' ? 'current' : '' %>" href="/reading">reading</a>
  <a class="<%= current === 'to-read' ? 'current' : '' %>" href="/to-read">to-read</a>
</nav>