<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>BOoks</title>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="homepage">
    <div class="homepage-box">
    <header>
      <h1>Books app</h1>
      <h2>it looks very good</h2>
    </header>

    <main>
      <a class="container" href="/auth/twitter">Log In or Sign up with Twitter</a>
    </main>

    </div>

  </body>
</html>
